@font-face {
	font-family: 'helvetihand';
	src: url('./helvetihand.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
}

x-post {
	width: 1280px;
	height: 720px;
	position: relative;
	overflow: hidden;
	display: block;
}

x-post iframe {
	margin-top: -200px;
}

x-subs {
	--shadow-core: rgba(0, 0, 0, 0.66);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 3.5% 10%;
	color: #fff;
	font-family: 'helvetihand', cursive;
	font-size: 30px;
	pointer-events: none;
	text-align: center;
	opacity: 0.9;
	text-shadow: 1px 0 1px var(--shadow-core), -1px 0 1px var(--shadow-core),
		0 1px 1px var(--shadow-core), 0 -1px 1px var(--shadow-core),
		0 2px 4px var(--shadow-core);
}

x-subs.em {
	font-style: italic;
}
